.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Zentriert das Logo und die Links */
    padding: 10px;
    background-color: white;
}

.logo {
    width: 120px;
    margin-right: 20px;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: green;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav a:hover {
    text-decoration: underline;
}
